body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  border-bottom: 2px solid;
  border-color: #DEB992;
}

.login {
  position: relative;
  background-color: #051622;
  height: 300px;
  width: 500px;
  border: 5px solid;
  border-color: #DEB992;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; 
  float: none; 
  margin-top: 100px;
}

.header {
  text-align: center;
  color: #1BA098;
  margin: 75px auto;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: inherit;
}

.card-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1BA098;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  padding-top: 10vh;
  height: 72px;
  width: 484px;
}