.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0B2D45;
    color: white;
}

.card-body{    
    position: absolute;
    width: 700px;
    height: 350px;
    left: 430px;
    top: 100px;
    background: #0B2D45;
    border-radius: 20px
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 7%;
    top: 12%;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.811);
    line-height: 150%;
}

.date{
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 550px;
    top: 12%;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.63);
}

.description{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 600px;
    height: fit-content;
    left: 50px;
    top: 90px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}